<div>
<br>
<mat-card>
  <h1>Upcoming Events</h1>
  <mat-divider></mat-divider>
  <br>
  <button mat-raised-button color="primary" routerLink="/create">Create New Event</button>
  <br> <br>
  <mat-divider></mat-divider>
  <div *ngIf="events.length == 0">No Events. Would you like to create one?</div>
  <div *ngFor="let event of events">
    <h3>{{event.eventName}}</h3>
    <h5>{{event.location}}</h5>
    <span class="aLeft">{{event.date}}</span> <span class="aRight">{{event.time}}</span>
    <div>Number Attending: {{event.attending.length}}</div>
    <div>
      <button mat-button color="primary" (click)="IMIN(event._id)">I'M IN!</button>
      <button mat-button color="primary" (click)="getDetails(event._id)">Details</button>
    </div>
    <mat-divider></mat-divider>
  </div>
</mat-card>
</div>

